/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.show-info {
    display: flex;
    gap: 1rem;
    .cover {
        width: 128px;
        height: 128px;  
        img {
            border-radius: 10.6834px;
            width: 100%;
        }
    }
    .texts {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        flex: 1;
    }
    .name {
        color: #111111;
        font-weight: 700;
        font-size: 1.125rem;
    }
    .publisher {
        color: #93989A;
        font-weight: 400;
        font-size: .75rem;
    }
    .description {
        font-weight: 400;
        font-size: .75rem;
        line-height: 1.0625rem;
        color: #718096;
    }
    .delete-btn {
        display: flex;
        justify-content: end;
    }
}

.container {
    .divider {
        height: 1px;
        width: 100%;
        background-color: #EBEBEB;
        margin: 1rem 0;
        padding-left: -1rem;
    }
    .episodes {
        height: 45vh;
        overflow: scroll;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

