.item-container {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border: 2px solid transparent;
    background-color: transparent;
    color: #718096;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    .name {
        display: flex;
        gap: .625rem;
        flex: 0;
        .text {
            width: 120px;
            white-space: nowrap;
            text-overflow: ellipsis;  
            overflow:hidden;  
        }
    }
}
