.modal-container {
    height: 240px;
    .spinner {
        position: absolute;
        top: 40%;
        right: 50%;
    }
}

.emoji-wrapper {
    cursor: pointer;
}

.emoji-picker {
    top: -16px;
    left: 30px;
}
